.space10{ height: 10px; }
.space15{ height: 15px; }
.space20{ height: 20px; }
.space30{ height: 30px; }
.space40{ height: 40px; }
.space50{ height: 50px; }
.space60{ height: 60px; }
.space70{ height: 70px; }
.space80{ height: 80px; }
.space90{ height: 90px; }
.space100{ height: 100px; }

hr{
  margin-top: 20px;
  margin-bottom: 20px;

  border: none;
  border-bottom: 1px solid @border-grey;
}




a{
  cursor: pointer;
  text-decoration: none;
  color: @off-black;

  &:link,
  &:visited{
    color: @off-black;
  }

  

  &:hover,
  &:active{
    color: @off-black;
  }
}



input[type=submit],
input[type=reset],
button{
  cursor: pointer;
}

.manic-image-container{
  height: 200px;

  img{
    .opacity(0);
  }

  &.image-loaded-version{

    img{
      -webkit-animation: plainFadeIn 0.2s both cubic-bezier(0.7,0,0.3,1);
      animation: plainFadeIn 0.2s both cubic-bezier(0.7,0,0.3,1);
      .dd1;
    }
  }
}







.scroll-target{
  position: relative;
  top: -1 * @header-desktop-height;
}

// TABLET PORTRAIT
@media only screen and (max-width: 991px) {
  .scroll-target{
    top: -1 * @header-mobile-height;
  }  
}





#page-wrapper{
  position: relative;
}
#page-wrapper-content{
  position: relative;
}

//   __     _____ ____  _____ ___
//   \ \   / /_ _|  _ \| ____/ _ \
//    \ \ / / | || | | |  _|| | | |
//     \ V /  | || |_| | |__| |_| |
//      \_/  |___|____/|_____\___/
//

.manic-video-container{
  height: 200px;

  .video-js{
    width: 100%;
    height: 100%;
    background: #333333;

    .vjs-poster{
      background-size: cover;
    }
  }

  .vjs-fullscreen{
    video{
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.video-js .vjs-modal-dialog{
  display: none;
}
.video-js .vjs-tech{
  background: @black;
}

.video-js .vjs-control-bar {
  background: @grey;
  background: fade(@grey, 70%);
}

.video-js .vjs-slider{
  background: @off-black;
  background: fade(@off-black, 50%);
}


.vjs-paused .vjs-big-play-button {
  display: block;
}
.custom-play{
  .vjs-paused .vjs-big-play-button {
    display: none !important;
  }
}


.is-actual-mobile{

  .manic-video-container{
    cursor: pointer;  // https://stackoverflow.com/questions/19431822/jquerys-on-dont-work-on-ios
  }
  .vjs-paused .vjs-big-play-button {
    // display: block;
    // display: ;
    // pointer-events: none;
  }
}

.video-js .vjs-big-play-button{

  &:before{
    content: '';
  }

  .icon-play;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;

  .transition-in(0.15s);


  &:hover,
  &:focus{

    .scale(1.15);
    .transition-in(0.2s, cubic-bezier(0.7,0,0.3,1), 0.25s);
  }

}

.no-display {
  display: none;
}

// https://stackoverflow.com/questions/8911247/hide-iphone-html5-video-play-button

video::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

//    _____ __    ____________ __
//   / ___// /   /  _/ ____/ //_/
//   \__ \/ /    / // /   / ,<
//  ___/ / /____/ // /___/ /| |
// /____/_____/___/\____/_/ |_|


.transmedic-slick-slider {

  .slick-prev,
  .slick-next{
    z-index: 200;
    width: 40px;
    height: 40px;
    background-color: rgba(16,16,16,0.8);
    .transition-in(0.3s);

    &:before{
      content: "";

    }
    &:after{
      top: 0;
      
      background: transparent !important;
      text-indent: 0;
      .fa;
      font-size: 20px;
      line-height: 20px;
      color: @white;

      .transition-in(0.3s);
    }

    &:focus,
    &:hover{
      .opacity(0.7);
      &:after{
        
      }
    }

    &.slick-disabled{
      pointer-events: none;
      .opacity-important(0.5);

      &:after{
        
      }
    }
  }
  .slick-prev{
    left: 0px!important;
    right: auto;

    &:after{
      content: "\f104"; // .fa-angle-left
      left: 7px;
    }
  }
  .slick-next{
    left: auto;
    right: 0px!important;

    &:after{
      content: "\f105"; // .fa-angle-right
      right: 7px;
    }
  }

  .slick-dots {
    bottom: 20px;
    li {
      width: 10px;
      height: 10px;
      button {
        width: 10px;
        height: 10px;
        &:before {
          content: "";
          width: 10px;
          height: 10px;
          background-color: @off-white-2;
          border-radius: 100%;
          opacity: 1;
        }      
      }
      &.slick-active {
        button {
          &:before {
            background-color: @cyan;
            opacity: 1;
          }
        }
      }
    } 
    @media all and (max-width: 991px) {
      bottom: 0px;
      padding: 0 10px;
      text-align: right;
      li {
        width: 8px;
        height: 8px;
        button {
          width: 8px;
          height: 8px;
          &:hover {
            width: 8px;
            height: 8px;
          }
        }
      }
    }
  }
}

.seperator-line {
  content: "";
  border-left: 1px solid @border-grey;
  width: 1px;
  height: 100%;
  min-height: 400px;
  position: absolute;
  left: -50px;
}

.inline-block-center {
  text-align: center;
  div {
    display: inline-block;
    text-align: left;
  }
}

.flex-center {
  display: flex;
  justify-content: center;

  @media all and (max-width: 480px) {
    display: block;
  }
} 


@section-padding: 70px;
@section-padding-mobile: 30px;

@section-content-padding-mobile: 20px;

//     __  _______  ____  ______    ______
//    /  |/  / __ \/ __ )/  _/ /   / ____/
//   / /|_/ / / / / __  |/ // /   / __/
//  / /  / / /_/ / /_/ // // /___/ /___
// /_/  /_/\____/_____/___/_____/_____/

@media all and (max-width: 768px) {  
  .manic-image-container {
    &.full-width-version-mobile {
      margin-left: -20px;
      margin-right: -20px;
    }    
  }
}