@media all and (max-width: 991px) {
  #page-default-banner-section {
    &.careers-version {
      background: @white;

      #page-default-banner-copy-container {
        display: block;
        position: static;
        // padding-bottom: @section-padding-mobile + 5;
        padding-top: 30px;
        padding-bottom: 47px;
      }
    }
  }
}

#page-default-banner-copy {
  &.subtitle-version {
    display: block;
    padding-top: 70px;
    h2 {
      .clanot-medium;
      display: block;      
      padding-bottom: 35px;
    }
    h5 {
      // padding-left: 40px;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0px;
      text-transform: none;
    }
  }

  @media all and (max-width: 991px) {
    &.subtitle-version {

      // padding-top: @section-padding-mobile - 10;
      padding-top: 0;


      h2 {
        .h2-style-mobile;
        padding-left: 0px;
        // padding-bottom: @section-content-padding-mobile;
        padding-bottom: 18px;
      }
      h5 {
        .body-font-mobile;
        // font-size: 18px;
        // line-height: 26px;
        padding-left: 0px;
      }
    }
  }
}

#page-careers-section {
  padding: 70px 0px 100px 0px;
  background: @light-pink-2;
  
  .text-container {
    h3 {
      padding-bottom: 15px;
    }
    
    p {
      padding-bottom: 30px;
    }  
  }
  

  .align-col {
    // padding: 0 60px;
    padding-right: 130px;
    float: none;
    display: inline-block;
    vertical-align: middle;      

    &.align-top {
      vertical-align: top;
    }
  }
  
  span {
    text-align: left;
    display: block;
    &.quote {
      .clanot-thin;
      font-size: 24px;
      line-height: 34px;
      padding-bottom: 20px;
    }
    &.author {
      .h6-style;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0em;
      color: @dark-blue;
      text-transform: none;
    }
    &.author-position {
      .body-font;
    }

  }

  .cta-container {
    text-align: left;
    width: 100%;
    padding-top: 10px;
  }

  @media all and (max-width: 1024px) {
    span {
      &.quote {
        min-width: 100%;
      }
      &.author {
        min-width: 100%;
      }
    }
    .cta-container {    
      min-width: 100%;
    }
  }

  @media all and (max-width: 991px) {
    // padding: 40px 0px;
    
    padding-left: 0px;
    padding-right: 0px;

    padding-top: 48px;
    padding-bottom: 0px;


    // h3 {
    //   padding-bottom: @section-content-padding-mobile;
    // }
    .text-container {
      h3 {
        padding-bottom: 0px;
      }
      p {
        padding-bottom: 0px;
      }

      h3 + p {
        padding-top: 9px;
      }
      p + p {
        padding-top: 20px;
      }
    }

    .align-col {
      padding: 0 10px;
      display: block;
    }

    .quote-container {
      // margin-top: @section-padding-mobile + 5;
      // margin-bottom: @section-padding-mobile + 5;

      margin-top: @section-padding-mobile + 5 + 12;
      margin-bottom: @section-padding-mobile + 5 + 12;

      &.last-version {
        &:after {
          display: none;  
        }
      }

      &:before {
        content: "";
        border-top: 1px solid @border-grey;
        width: 100%;
        display: block;
        padding-top: @section-padding-mobile + 10 + 6;
      }
      &:after {
        content: "";
        border-bottom: 1px solid @border-grey;
        width: 100%;
        display: block;
        padding-top: @section-padding-mobile + 10 + 6;
      }
    }

    span {
      &.quote {
        min-width: 100%;

        .h2-style-mobile;

        // font-size: 16px;
        // line-height: 24px;
        /// padding-bottom: 15px;
        padding-bottom: 15px + 4px;
      }
      &.author {
        min-width: 100%;
        // .body-font-mobile;
        .h3-style-mobile;


        // font-size: 14px;
        // line-height: 20px;
        letter-spacing: 0.05em;
        // padding-bottom: @section-content-padding-mobile + 5;
        padding-bottom: 0;
        // color: @light-grey-2;
        

        color: @dark-blue;
      }
      &.author-position{
        .body-font-mobile;

      }
    }

    .cta-container {
      // text-align: center;
      text-align: left;
      width: 100%;
      min-width: 100%;

      padding-top: 15px;
    }
  }

}

#page-careers-extra-section {
  padding: 70px 40px 90px 40px;
  background: @white;

  .manic-image-container {
    height: 628px;
  }

  @media all and (max-width: 991px) {
    padding: 0px;

    .manic-image-container {
      height: 400px;
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  @media all and (max-width: 480px) {
    padding: 0px;

    .manic-image-container {
      height: 200px;
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}

#page-careers-extra-image-caption {
  padding-top: 50px;
  h2 {
    .clanot-medium;
    min-width: 460px;
  }
  h4 {
    font-size: 24px;
    line-height: 36px;
    text-transform: none;
    letter-spacing: 0px;
  }
  p {
    padding-left: 20px;
  }
  @media all and (max-width: 991px) {

    padding-top: @section-padding-mobile - 4px;
    padding-bottom: @section-padding-mobile - 5px;


    h2 {

      .h3-style-mobile;

      width: 100%;
      min-width: 0px;
      // padding-bottom: @section-content-padding-mobile;
      padding-bottom: 9px;
    }

    h4 {
      .h4-style-mobile;
      // font-size: 18px;
      // line-height: 26px;
    }
    p{
      padding-left: 0;
    }
  }
}

#page-careers-job-position-section {
  padding-top: 100px;
  padding-bottom: 100px;  
  background: @light-pink-2;

  @media all and (max-width: 991px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

#page-careers-job-position-title {
  padding-bottom: 40px;
}

#page-careers-job-filters-container {
  ul {
    li {
      padding-bottom: 10px;
      h4 {
        a {
          color: @light-grey;
          &:hover {
            color: @dark-blue;
          }
          &.active-tab {
            color: @dark-blue;
          }
        }
      }      
    }
  }
}

body.actual-mobile-version{
  #page-careers-job-filters-container ul li h4 a{
    &:hover {
      color: @light-grey;
    }
  }
}





#page-careers-job-filters-pin-container-mobile{
  position: relative;
  z-index: 2000;
}



#page-careers-job-filters-container-mobile {
  background: @cyan;
  text-align: center;
  text-transform: uppercase;
  color: @white;

  

  //margin-left: -20px;
  //margin-right: -20px;
  margin-bottom: 20px;

  .source-sans-pro-semibold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;

  .manic-dropdown  {      
    &:before {
      right: 10px;
      top: 10px;
    }
    select {
      height: 100%;
    }
    .goog-menu-button {
      // padding-top: 15px;
      // padding-bottom: 15px;

      padding-top: 13px;
      padding-bottom: 13px;
    }
    
    .goog-menu-vertical {
      background: @grey-2;
      width: 100%;
      // position: static;
      padding-bottom: 15px;
      .goog-menuitem {
        padding-top: 10px;
        &:after {
          content: "";
          display: block;
          margin-right: 20px;
          margin-left: 20px;
          border-bottom: 1px solid @border-grey;
          padding-bottom: 10px;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }

    .goog-menu-button-dropdown {
      // top: 16px;
      top: 14px;
      right: 18px;
    }
  }


}

.location-tab {
  padding-bottom: 40px;
  display: none;
  &.active-tab {
    display: block;

  }

  @media all and (max-width: 991px) {
    padding-bottom: 27px;
  }

}

.job-list-item-container {
  .job-list-item {
    padding-bottom: 10px;
    &:after {
      content: "";
      border-bottom: 1px solid @border-grey;      
      width: 100%;
      display: block;      
      padding-bottom: 10px;
    }

    // @media all and (max-width: 991px) {
      &:last-child {
        &:after {
          display: none;
        }
      }
    // }

  }
  .job-list-item-title {
    .job-list-item-job-title-container {
      h6 {

        &.active {
          color: @dark-blue;
        }
      }
    }
    @media all and (max-width: 991px) {

      padding-top: 7px + 10px;
      padding-bottom: 10px + 5px;

      .job-list-item-job-title-container {
        h6 {
          .h3-style-mobile;

        }
      }
    }
  }


  .job-list-item-view-detail-cta-container {    
    a.view-details-cta {
      .clanot-medium;
      font-size: 13px;
      // line-height: 70px;
      color: @dark-blue;
      position: relative;
      display: inline-block;
      margin-top: 5px;
      &:after {
        content: "";
        border-bottom: 1px solid @border-grey;
        width: 100%;
        position: absolute;
        bottom: 4px;
        left: 0px;
        border-color: @dark-blue;
      }
      &:hover {
        color: @light-grey;
        &:after {
          border-color: @light-grey;
        }
      }
    }
    @media all and (max-width: 991px) {
      text-align: right;

      a.view-details-cta {
        .body-font-mobile;
        // font-size: 12px;
        font-size: 11px;
        line-height: 22px;

        margin-top: 0;
      }
    }

  }
  .job-list-item-content {
    padding-top: 40px;
    padding-bottom: 40px;
    display: none;

    h4.job-title {
      padding-bottom: 30px;
      // color: @light-grey-2;
      display: block;
    }
    ul {
      padding-bottom: 40px;
      li {
        position: relative;
        padding-left: 15px;
        &:before {
          content: ".";
          position: absolute;
          left: 0px;
          top: -7px;
          .source-sans-pro-regular;
          // .clanot-book;
          font-size: 25px;
        }
        h4 {
          text-transform: none;
          letter-spacing: 0px;
        }
      }
    }
    p {
      // display: block;
    }
    a {
      display: inline-block;
      color: @dark-blue;
      position: relative;
      // &:after {
      //   content: "";
      //   border-bottom: 1px solid @border-grey;
      //   width: 100%;
      //   position: absolute;
      //   bottom: 0px;
      //   left: 0px;
      //   border-color: @dark-blue;
      // }
      &:hover {
        color: @light-grey;
        // &:after {
        //   border-color: @light-grey;
        // }
      }
    }

    @media all and (max-width: 991px) {
      // padding-top: @section-content-padding-mobile;
      // padding-bottom: @section-content-padding-mobile;
      padding-top: 8px;
      padding-bottom: 39px;

      h4.job-title {
        padding-bottom: @section-content-padding-mobile - 2px;
      }

      ul {
        padding-bottom: @section-padding-mobile;
        li {
          padding-bottom: 10px;
          padding-left: 8px;
          &:before{
            left: -2px;
          }
          h4 {
            // font-size: 15px;
            // line-height: 20px;
            // letter-spacing: 0.01em;
            
            // .h4-style-mobile;
            // .body-font-bold-mobile;
            .body-font-bold-mobile-02;
            
          }
        }
      }
    }
  }
}






body.actual-mobile-version{
  .job-list-item-container {

    .job-list-item-view-detail-cta-container {
      a.view-details-cta{
        &:hover{
          color: @dark-blue;
          &:after {
            border-color: @dark-blue;
          }
        }
      }
    } // .job-list-item-view-detail-cta-container

    .job-list-item-content {
      a{
        &:hover {
          color: @dark-blue;
        }
      }
    } // .job-list-item-content

  }
}
