#page-news-featured-section {

  background: @light-pink-2;

  // padding-top: 25px;
  // padding-top: 25px + 50px;
  // padding-bottom: 50px;

  padding-top: 25px;

  @media all and (max-width: 991px) {
    // padding-top: 0px;
    background: @white;
  }
}


#page-news-featured-section-content{
  background: @white;
  // background: #ff0000;

  // padding-top: 50px;
  padding-top: 30px;
  // padding-bottom: 50px;
  padding-bottom: 0px;



  @media all and (max-width: 991px) {
    background: transparent;

    // padding-top: 50px;
    padding-top: 0px;
    padding-bottom: 26px;

    .cta-container{
      padding-top: 15px;
    }

  }

}


#page-news-featured-carousel-container{
  padding-left: 11%;

  @media all and (max-width: 991px) {
    padding-left: 0;
  }
}





#page-news-featured-carousel{
  &.transmedic-slick-slider .slick-dots{
    text-align: left;
    padding: 0px 30px 00px 30px;

    bottom: 18px;

    @media all and (max-width: 991px) {
      padding-left: 20px;
      padding-right: 20px;
      text-align: right;
    }
    @media only screen and (max-width: 767px) {

      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media all and (max-width: 991px) {
  #page-news-featured-carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.carousel-caption-container{
  padding-top: 20px;
  padding-left: 30px;

  @media all and (max-width: 991px) {
    padding-top: 0px;
    padding-left: 0px;

  }
}

.page-news-featured-carousel-item {
  background: @white;
  // padding: 50px 30px 80px 30px;
  /// padding: 0px 30px 80px 30px;
  padding: 0px 30px 105px 30px;
  outline: 0px;
  

  .carousel-caption-container {
    padding-top: 15px;
    

    p {
      padding-bottom: 20px;
    }

    a{
      .transition-in-single (color, 0.3s, cubic-bezier(0.645, 0.045, 0.355, 1), 0.1s);

      // &:hover{
      &.selected{
        color: @dark-blue;
        .transition-in-single (color, 0.2s, cubic-bezier(0.645, 0.045, 0.355, 1), 0.0s);
      }
    }

  }

  .left-carousel-column {
  }  
  
  .right-carousel-column {
    padding-left: 11%;                  // not used anymore.
  }

  .manic-image-container {
    // height: 350px;
    height: 350px + 25px;
  }
  .default-image-desc{
    display: block;
    padding-top: 15px;
  }

  @media all and (max-width: 1280px) {
    .manic-image-container {
      height: 305px;
    }
  }

  @media all and (max-width: 991px) {
    // padding: 30px 20px 45px;
    padding: 30px 20px 45px;
    padding-bottom: 6px;

    .manic-image-container {
      height: 350px;    
    }

    .default-image-desc {
      display: none;
      // text-align: right;
      // display: block;  
    }

    .carousel-caption-container {
      padding-top: 20px;
      a.plain-arrow-cta {
        display: none;
      }
    }
  }

  @media all and (max-width: 480px) {
    .manic-image-container {
      height: 161px;    
    }
  }
}


#page-news-filter-section {
  background: @light-pink-2;
  padding-top: 70px;
  @media all and (max-width: 991px) {
    padding-top: 0;
  }
}

#page-news-filter-list {
  padding: 0 35px;
  li {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    
    &:last-child {
      &:after {
        display: none;
      }
    }
    a {
      h3 {
        // .merriweather-regular;
        .clanot-medium;
        font-size: 18px;
        line-height: 38px;
        color: @off-black; 
      }
      &.active-cat {
        h3 {
          .clanot-medium;  
          color: @dark-blue;      
        }
      }      
    }    
    &:after {
      content: "/";      
      position: absolute;
      top: 0px;
      right: -7px;

      .clanot-medium;
      font-size: 18px;
      line-height: 38px;
      color: @off-black;       
    }
  }

  @media all and (max-width: 991px) {    
    display: none;
  }
}

#page-default-news-item-container {


  &.news-page-version {
    padding: 0 30px;
    margin-top: 45px;
    margin-bottom: 30px;

    @media all and (max-width: 991px) {    
      margin-top: 34px;
      margin-bottom: 10px;
    }

    .item-column {
      padding-left: 0px;
      padding-right: 0px;
      margin: 0 40px;
      min-height: 120px;
      position: relative;      
    }

    .page-default-news-item {
      &:after {
        content: "";
        border-bottom: 1px solid @border-grey;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
      }
      .item-title {
        h5 {
          a {
            // font-size: 21px;  
            // line-height: 30px;
            font-size: 18px;
            line-height: 24px;
            &:hover {
              color: @dark-blue;
            }
          }      
        }
      }
    }

  }

  @media all and (max-width: 991px) {
    &.news-page-version {
      padding: 0;
      
      .item-title {
        // margin-bottom: 25px;
        margin-bottom: 0px;
      }

      .item-column {
        // min-height: 120px;
        min-height: 0px;

        margin-left: 0px;
        margin-right: 0px;

        // margin-bottom: 10px;

        &:after {
          display: none;
        }
      }

      .page-default-news-item {
        padding-bottom: 26px;
        margin-bottom: 26px;

        &:after {
          margin-bottom: 0px;
        }
      }
    }
  }

}

#page-news-load-more-cta-container {
  text-align: center;
  padding-bottom: 100px;

  @media all and (max-width: 991px) {
    padding-bottom: 30px;
  }
}



#page-news-filter-list-pin-container-mobile{
  position: relative;
  z-index: 2000;
}


//     __  _______  ____  ______    ______
//    /  |/  / __ \/ __ )/  _/ /   / ____/
//   / /|_/ / / / / __  |/ // /   / __/
//  / /  / / /_/ / /_/ // // /___/ /___
// /_/  /_/\____/_____/___/_____/_____/

@media all and (max-width: 991px) {    
  
  // .transmedic-slick-slider {
  //   .slick-dots {
  //     position: absolute;
  //     bottom: 40px;
  //   }
  // }

  #page-news-filter-list-mobile {
    background: @cyan;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    margin-left: -20px;
    margin-right: -20px;

    .source-sans-pro-semibold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;

    .manic-dropdown  {      
      &:before {
        right: 10px;
        top: 10px;
      }
      select {
        height: 100%;
      }
      .goog-menu-button {
        // padding-top: 10px;
        // padding-bottom: 10px;

        padding-top: 13px;
        padding-bottom: 13px;
      }
      
      .goog-menu-vertical {
        background: @grey-2;
        width: 100%;
        // position: static;
        padding-bottom: 15px;
        .goog-menuitem {
          padding-top: 10px;
          &:after {
            content: "";
            display: block;
            margin-right: 20px;
            margin-left: 20px;
            border-bottom: 1px solid @border-grey;
            padding-bottom: 10px;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }

      .goog-menu-button-dropdown {
        // top: 11px;
        // right: 10px;

        top: 14px;
        right: 18px;
      }
    }


  }
}